version: 2

jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester
    steps:
      - checkout
      - add_ssh_keys
      - run:
          name: 'Setup virtual env'
          command: |
            aws s3 cp s3://com-stitchdata-dev-deployment-assets/environments/tap-tester/tap_tester_sandbox dev_env.sh
            source dev_env.sh
            python3 -m venv /usr/local/share/virtualenvs/tap-outbrain
      - run:
         name: 'pylint tap'
         command: |
           source /usr/local/share/virtualenvs/tap-mixpanel/bin/activate
           pip install pylint
           pylint tap_outbrain --disable missing-docstring,logging-format-interpolation,too-many-arguments,too-many-locals,wrong-import-order
