version: 2.1

executors:
  docker-executor:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester

jobs:
  build:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            python3 -m venv /usr/local/share/virtualenvs/tap-outbrain
            source /usr/local/share/virtualenvs/tap-outbrain/bin/activate
            pip install -U 'pip==22.2.2' setuptools
            pip install .[dev]
      - run:
          name: 'JSON Validator'
          command: |
            source /usr/local/share/virtualenvs/tap-outbrain/bin/activate
            stitch-validate-json tap_outbrain/schemas/*.json
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-outbrain/bin/activate
            pytest tests/ -v
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
